body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body.done {
  background-image: url("/img/fireworks.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#list {
  width: 60%;
  margin: 10px 20%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
}
#list #list-head {
  height: calc(1.15em + 10px);
  width: 100%;
}
#list #list-head #listTabs {
  height: 100%;
  padding: 0px;
  float: left;
}
#list #list-head #listTabs input[type=button] {
  margin: 0px !important;
  height: 100%;
  padding: 5px 7.5px;
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  float: right;
}
#list #list-head #listTabs input[type=button].active {
  color: var(--headTxt);
}
#list #list-head #listLayout {
  height: calc(100% - 4px);
  padding: 2px 0px;
  float: right;
}
#list #list-head #listLayout button {
  height: 100%;
  width: calc(1.15rem + 6px);
  padding: 2px;
  margin: 0px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: background-color 250ms;
}
#list #list-head #listLayout button:hover {
  background-color: gray;
}
#list #list-head #listLayout button.active {
  background-color: darkgray;
}
#list #list-head #listLayout button img {
  width: 100%;
  height: 100%;
}
#list .list-menu {
  display: flex;
  background-color: var(--bg);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid darkgray;
  border-top: none;
  /* at some point I need to make a border using an element in the header */
}
#list .list-menu .list-item {
  padding: 5px;
  text-decoration: none;
  display: grid;
}
#list .list-menu.grid {
  flex-flow: row wrap;
  align-content: flex-start;
}
#list .list-menu.grid #list-title {
  display: none;
}
#list .list-menu.grid .list-item {
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 65px;
  grid-row-gap: 5px;
  font-size: 0.75rem;
  margin: 5px;
}
#list .list-menu.grid .list-item img {
  grid-row: 1;
  margin: 5px;
  height: 55px;
}
#list .list-menu.grid .list-item .name {
  grid-row: 2;
  width: 100%;
  text-align: center;
}
#list .list-menu.grid .list-item .date, #list .list-menu.grid .list-item .calendar {
  display: none;
}
#list .list-menu.grid .list-item div {
  max-height: 36.8px;
  overflow: hidden;
  width: calc(100% - 5px);
  text-overflow: ellipsis;
}
#list .list-menu.list {
  flex-direction: column;
}
#list .list-menu.list #list-title {
  border-bottom: 1px solid darkgray;
  padding: 7.5px 5px 2.5px 5px;
}
#list .list-menu.list .list-item {
  grid-template-columns: 25px 2fr 1fr 1fr;
  grid-template-rows: 20px;
  font-size: 0.9rem;
}
#list .list-menu.list .list-item img {
  grid-column: 1;
  width: 20px;
  height: 20px;
}
#list .list-menu.list .list-item .name {
  grid-column: 2;
}
#list .list-menu.list .list-item .date {
  grid-column: 3;
}
#list .list-menu.list .list-item .calendar {
  grid-column: 4;
}
#list .list-menu.list .list-item div {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 5px);
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, var(--txt) 0%, var(--txt) calc(100% - 21.583px), var(--bg) calc(100% - 6.583px), var(--bg) 100%);
}

#countdown {
  margin: 50px;
  position: absolute;
  top: calc((100vh + var(--size) - 46.4px) / 2);
  transform: translateY(-50%);
  width: calc(100% - 100px);
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
#countdown div {
  display: inline;
}
#countdown #until {
  font-size: 35px;
}
#countdown .number {
  font-variant-numeric: tabular-nums;
  font-size: 75px;
}
#countdown .label {
  font-size: 25px;
}
#countdown #done {
  display: none;
  color: var(--dark);
  background-color: var(--light);
}
#countdown.done #counters {
  display: none;
}
#countdown.done #done {
  display: initial;
}

@supports (width: max-content) {
  #listTabs, #listTabs #input, #listLayout {
    width: max-content;
  }
}
@supports (width: -webkit-max-content) and (not (width: max-content)) {
  #listTabs, #listTabs #input, #listLayout {
    width: -webkit-max-content;
  }
}
@supports not ((width: max-content) or (width: -webkit-max-content)) {
  #listTabs, #listTabs #input, #listLayout {
    width: initial;
  }
}

/*# sourceMappingURL=countdown_beta.css.map */
