@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

body {
  background-color: #eeeeee;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
#key {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 36ch;
  margin: 0.5em 0px;
  font-family:'Cousine', monospace;
  font-size: 24px;
  border: none;
  background-color: transparent;
}
#key span {
  margin: 0px 0.1em;
}
#instructions, #error {
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#error {
  color: red;
}
@supports (width: max-content) {
  main {
    width: max-content;
  }
}
@supports (width: -webkit-max-content) and (not (width: max-content)) {
  main {
    width:  -content;
  }
}
@supports not ((width: max-content) or (width: -webkit-max-content)) {
  main {
    width: max-content;
  }
}