@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

body {
  background-color: #eeeeee;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 1em);
  max-height: 100%;
  margin: 0.5em 0px;
  font-family:'Cousine', monospace;
  font-size: 24px;
}
main span {
  margin: 0px 0.1em;
}
#cursor {
  width: 1px;
  height: 24px;
  background-color: black;
  position: absolute;
}
#cursor.hide {
  display: none;
}
#input {
  position: fixed;
  width: 0px;
  height: 0px;
  border: none;
}
#instructions, #alternate, #error {
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#error {
  color: red;
}
@supports (width: max-content) {
  main {
    width: max-content;
  }
}
@supports (width: -webkit-max-content) and (not (width: max-content)) {
  main {
    width:  -content;
  }
}
@supports not ((width: max-content) or (width: -webkit-max-content)) {
  main {
    width: max-content;
  }
}