header nav {
	grid-area: nav;
	width: 100%;
  padding: 0px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  font-size: 15px;
  z-index: 2;
}
header nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
  overflow: hidden;
}
header nav ul li {
  float: left;
  height: 46.4px;
}
header nav ul li.right {
  float: right;
}
header nav ul li.right a {
  transition: transform 400ms ease-out;
  transform: translateY(0px); 
}
header nav ul li.right.hide a {
  transform: translateY(calc(18.4px + 28px));
}
header nav ul li.right ul {
  position: absolute;
  right: 0px;
  display: initial;
}
header nav ul li.right.hide ul {
  display: none;
}
header nav ul li a {
	display: block;
	color: var(--headTxt);
	padding: 14px 16px;
  text-decoration: none;
  height: 18.4px;
}
@supports (width: min-content) {
  header nav > ul > li > a {
    width: min-content;
  }
}
@supports (width: -webkit-min-content) and (not (width: min-content)) {
  header nav > ul > li > a {
    width: -webkit-min-content;
  }
}
@supports not ((width: min-content) or (width: -webkit-min-content)) {
  header nav > ul > li > a {
    width: initial;
  }
}
header nav ul li ul li a:hover, header nav ul li ul li a:focus {
  background-color: /*#0000005d;*/rgba(0, 0, 0, 0.36);
}
header nav ul li ul {
  background-color: var(--dark);
  transition: opacity 400ms ease-in;
	opacity: 0;
  position: absolute;
  height: 0px;
  max-height: calc(100vh + (var(--size) - 46.4px));
  overflow: auto;
  transform: translate(0px, 0px);
  overflow: auto;
}
header nav ul li:hover ul, header nav ul li:focus ul {
  opacity: 1;
}
@supports (height: max-content) {
  header nav ul li:hover ul, header nav ul li:focus ul {
    height: max-content;
  }
}
@supports (height: -webkit-max-content) and (not (height: max-content)) {
  header nav ul li:hover ul, header nav ul li:focus ul {
    height: -webkit-max-content;
  }
}
@supports not (height: max-content) {
  header nav ul li:hover ul, header nav ul li:focus ul {
    height: initial;
  }
}
header nav ul li.right ul {
  right: 0px;
}
header nav ul li.right ul li a {
  text-align: left;
}
header nav ul li ul li {
  float: none;
}
header nav > ul > li::after {
  content: "\200B";
  transition-property: height, bottom;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  color: var(--light);
  background-color: var(--light);
  display: inline-block;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 0px;
}
header nav ul li a::after {
  vertical-align: super;
  font-style: italic;
  font-size: 0.9em;
  line-height: 0px;
}
header nav ul li a.alpha::after {
  content: "alpha";
  color: #f92472;
}
header nav ul li a.beta::after {
  content: "beta";
  color: #e79622;
}
header nav > ul > li:not(.hide):hover::after {
  height: 5px;
  bottom: 5px;
}