#content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
#canvas {
  border: 2px dashed var(--light);
  margin-right: 10px;
}
input, select {
  border-radius: 7px;
}
input[type = "number"]:focus {
  width: 70px;
}
.move {
  cursor: move;
}
#menu {
  border: 1px solid var(--txt);
  border-left: none;
  height: 300px;
  width: calc(100% - 316px);
  min-width: 655px;
  display: grid;
  grid-template-columns: 27px 230fr 0px 120fr 0px 200fr;
  grid-gap: 12px;
}
#tabScrollHide {
  width: 28px;
  overflow: hidden;
}
#menuTabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
#mainMenu {
  padding: 5px 5px 5px 0px;
  position: relative;
  max-width: 310px;
  margin: 0px auto;
}
#colorMenu {
  padding: 5px 0px;
  margin: 0px auto;
}
#spinMenu {
  padding: 5px 5px 5px 0px;
  width: 230px;
  margin: 0px auto;
}
.seperator {
  width: 0px;
  margin: 10px 0px;
  border-right: 1px solid var(--txt);
}
.menuTab {
  height: 20px;
  width: 20px;
  padding: 3px;
  border: 1px solid var(--txt);
  border-top: none;
  cursor: pointer;
}
.menuTab.selected {
  padding-left: 1px;
  padding-right: 4px;
  border-right: none;
  border-left: 3px solid var(--light);
}
#newShape {
  align-self: flex-end;
  border-bottom: none;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  color: var(--light);
}
#line {
  border-right: 1px solid var(--txt);
  border-left: 1px solid var(--txt);
  height: 100%;
}
#menu .property {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  white-space: nowrap;
}
#mainMenu .descrete, #spinMenu .descrete {
  width: 100% !important;
  text-align: left;
}
#mainMenu input[type = "range"] {
  padding: 0px;
  margin: 4px 0px;
  width: 100%;
  -webkit-appearance: none;
  height: 7.5px;
  background: var(--txt);
  outline: none;
  border: none;
  border-radius: 2.5px;
}
#mainMenu input[type = "range"].indent {
  width: calc(100% - 15px);
}
#mainMenu input[type = "range"]::-webkit-slider-thumb { /* this all needs to be together and not with the firefox one */
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--light);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#mainMenu input[type = "range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--light);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#bottom {
  position: absolute;
  bottom: 5px;
  left: 0px;
}
.descrete {
  border: none !important;
  border-radius: 2px;
  padding: 0px;
  width: 30px !important;
  background-color: transparent !important;
  margin: 0px !important;
  font-size: 1em;
  color: var(--txt) !important;
}
#colorHSL {
  display: flex;
  flex-flow: row;
}
#h-key {
  background-image: linear-gradient(#ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000)
}
#s-key {
  background-image: linear-gradient(#ff0000, #888888);
}
#l-key {
  background-image: linear-gradient(#ffffff, #ff0000, #000000);
}
#hsl {
  width: 218px;
}
#hslFlex {
  display: flex !important;
  justify-content: space-evenly;
  cursor: auto !important;
}
.hslGrid {
  display: grid !important;
  grid-template-columns: 40px;
  grid-template-areas: 
  "t"
  "s";
  text-align: center;
  border-radius: 5px;
  cursor: auto !important;
}
.t {
  grid-area: t;
  place-self: center;
}
.s {
  grid-area: s;
  border: 1px solid #ffffff;
  margin: 5px;
  height: 80px;
  width: 30px;
  place-self: center;
  cursor: auto !important;
}
.s input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 0px;
  height: 30px;
  width: 80px;
  background: transparent;
  border: none;
  outline: none;
  margin: 0px;    
  transform: rotate(270deg);
  position: relative;
  top: 25px;
  right: 25px;
}
.s input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: ns-resize;
  height: 30px;
  width: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent;
}
.s input[type="range"]::-moz-range-thumb {
  cursor: ns-resize;
  height: 20px;
  width: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent;
}
#hs {
  transform: rotate(90deg);
}
#colorHash {
  position: absolute;
  display: block;
  cursor: auto;
  width: 120px;
}
#colorHash::before {
  position: absolute;
  color: var(--light);
  left: 10px;
  top: 10px;
  content: "#";
  pointer-events: none;
  line-height: 1em;
}
#hexColor {
  width: calc(100% - (1.15em + 28px)) !important;
}
#spin {
  float: right;
}
#documentation {
  margin: 0px 50px 50px;
}
@supports (width: min-content) {
  #menuTabs {
    width: min-content;
  }
  #menu .property {
    grid-template-columns: min-content 1fr;
    grid-auto-columns: min-content;
  }
}
@supports (width: -webkit-min-content) and (not (width: min-content)) {
  #menuTabs {
    width: -webkit-min-content;
  }
  #menu .property {
    grid-template-columns: -webkit-min-content 1fr;
    grid-auto-columns: -webkit-min-content;
  }
}
@supports not ((width: -webkit-min-content) or (width: min-content)) {
  #menuTabs {
    width: 45px;
  }
  #menu .property {
    grid-template-columns: initial 1fr;
    grid-auto-columns: initial;
  }
}
@supports (grid-template-rows: max-content) {
  .hslGrid {
    grid-template-rows: repeat(2, max-content);
  }
}
@supports (grid-template-rows: -webkit-max-content) and (not (grid-template-rows: max-content)) {
  .hslGrid {
    grid-template-rows: repeat(2, -webkit-max-content);
  }
}
@supports not ((grid-template-rows: -webkit-max-content) or (grid-template-rows: max-content)) {
  .hslGrid {
    grid-template-rows: repeat(2, initial);
  }
}