body {
  overflow: hidden;
  height: 100vh;
}
header {
  background-color: var(--bg);
  background-image: none;
}
nav ul {
  background-color: var(--bg) !important;
}
h1 {
  display: none;
}
#settings {
  position: fixed;
  right: 6.5px;
  bottom: 6.5px;
}
#choose {
  top: auto;
  bottom: calc(1.15em + 38px) !important;
}
#arrow {
  top: auto;
  bottom: calc(1.15em + 21px);
  right: 16px;
  border-top-width: 10px;
  border-bottom-color: transparent !important;
}
#arrow:not(.gone) {
  border-top-color: var(--dark);
}
main {
  margin: 0px;
  height: calc(100% - 46.4px * 2);
  overflow: hidden;
}
main > * {
  scroll-snap-align: center;  
  height: 100%;
}
#myBio {
  padding: 50px;
  height: calc(100% - 100px);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
h2 {
  z-index: 0;
  font-family: 'Anurati-Coustom';
  font-size: 7.5vh;
  color: var(--bg);
  text-shadow: 0 0 10px var(--light);
  line-height: 7.5vh;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  opacity: 0;
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  transition: clip-path 1.5s ease-out, opacity 2s;
}
_:-ms-lang(x), h2 { /* only pre-chromium Edge will understand this rule, so other browsers can't apply it */
  justify-content: space-around;
}
h2.reveal {
  opacity: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  animation: glow 4s ease-in-out 2s, steady-glow 4s ease-in-out 6s infinite;
}
h2 * {
  margin: 5vh 0px 5vh 0px;
}
#logo {
  width: 100%;
  text-align: center;
  margin: 0px;
}
#svgLogo {
  margin: 0px;
  height: 12vh !important;
  width: 12vh !important;
  filter: drop-shadow(0px 0px 5px var(--light));
}
#logo #stop4538, #logo #stop4540 {
  stop-color: var(--bg) !important;
}
#stop4729, #stop4731 {
  stop-opacity: 0 !important;
}
h2.reveal #svgLogo {
  animation: svg-glow 4s ease-in-out 1.5s, svg-steady-glow 4s ease-in-out 5.5s infinite;
}
#path2Settings {
  fill: var(--txt) !important;
}
@supports (grid-template-rows: max-content) {
  header {
    grid-template-rows: 0px max-content;
  }
}
@supports (grid-template-rows: -webkit-max-content) and (not (grid-template-rows: max-content)) {
  header {
    grid-template-rows: 0px -webkit-max-content;
  }
}
@supports not ((grid-template-rows: -webkit-max-content) or (grid-template-rows: max-content)) {
  header {
    grid-template-rows: 0px 46.4px;
  }
}
@keyframes glow {
  0% { text-shadow: 0 0 10px var(--light); }
  50% { text-shadow: 0 0 20px var(--light); }
  100% { text-shadow: 0 0 10px var(--light); }
}
@keyframes steady-glow {
  0% { text-shadow: 0 0 10px var(--light); }
  50% { text-shadow: 0 0 17px var(--light); }
  100% { text-shadow: 0 0 10px var(--light); }
}
@keyframes svg-glow {
  0% { filter: drop-shadow(0 0 5px var(--light)); }
  50% { filter: drop-shadow(0 0 12px var(--light)); }
  100% { filter: drop-shadow(0 0 8px var(--light)); }
}
@keyframes svg-steady-glow {
  0% { filter: drop-shadow(0 0 8px var(--light)); }
  50% { filter: drop-shadow(0 0 12px var(--light)); }
  100% { filter: drop-shadow(0 0 8px var(--light)); }
}