:root {
  --ss: 20px;
}
body {
  overflow-x: hidden;
}
#content {
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3in 1fr;
  grid-template-areas: "menu canvas";
}
#canvas, #bg {
  grid-area: canvas;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#canvas, #hoverShade {
  cursor: cell;
}
#menu {
  grid-area: menu;
  background-color: #111111;
  padding: 20px;
}
#menu :not(.override) {
  display: inline-block;
}
.menu, .button {
  border-radius: 10px;
  background-color: #333333;
  padding: 10px;
  margin: 5px;
}
.menu {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu :not(.override), .button {
  cursor: pointer;
}
.on {
  color: var(--dark) !important;
  background-color: var(--light);
}
.color-container {
  display: inline !important;
}
[data-color] {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-width: 0px;
  border-style: solid;
  display: block !important;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}
[data-color].active, [data-color]:hover {
  width: 17px;
  height: 17px;
  border-width: 2px;
}
#hoverShade {
  position: fixed;
  width: var(--ss);
  height: var(--ss);
  background-color: #000000;
  opacity: 0.35;
  z-index: 1;
  display: none;
}
#menu input:not(.override) {
  width: calc(100% - 50px);
}
#color {
  color: #ffffff;
  border-color: #ffffff;
  cursor: text;
  /*outline-color: #000000;*/
}
#colorMethod {
  width: 100px;
}
#colorMethodContainer {
  width: 100%;
}
#colorHash {
  position: relative;
  display: block;
  cursor: auto;
}
#colorHash::before {
  position: absolute;
  color: #ffffff;
  left: 10px;
  top: 10px;
  content: "#";
  pointer-events: none;
  line-height: 1em;
}
[data-err]::after {
  vertical-align: text-top;
  font-size: 0.8em;
  line-height: 0.8em;
  color: #ff0000;
  display: inline;
  content: attr(data-err);
}
.descrete {
  border: none !important;
  border-radius: 2px;
  padding: 0px;
  width: 30px !important;
  background-color: transparent;
  margin: 0px !important;
}
.descrete:invalid {
  background-color: transparent;
}
#r {
  background-color: #1e0000;
}
#g {
  background-color: #001e00;
}
#b {
  background-color: #00001e
}
#h, #s, #l {
  background-color: #ff000040
}
#r-key {
  background-image: linear-gradient(#ff0000, #000000);
}
#g-key {
  background-image: linear-gradient(#00ff00, #000000);
}
#b-key {
  background-image: linear-gradient(#0000ff, #000000);
}
/*#h, #s, #l {
  background-color: #1e1e1e
}*/
#h-key {
  background-image: linear-gradient(#ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000)
}
#s-key {
  background-image: linear-gradient(#ff0000, #888888);
}
#l-key {
  background-image: linear-gradient(#ffffff, #ff0000, #000000);
}
#hs {
  transform: rotate(180deg)
}
#rgb, #hsl {
  width: 218px;
}
#rgbFlex, #hslFlex {
  display: flex !important;
  justify-content: space-evenly;
  cursor: auto !important;
}
.rgbGrid, .hslGrid {
  display: grid !important;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 40px;
  grid-template-areas: 
  "t"
  "s";
  text-align: center;
  border-radius: 5px;
  cursor: auto !important;
}
.t {
  grid-area: t;
  place-self: center;
}
.s {
  grid-area: s;
  border: 1px solid #ffffff;
  margin: 5px;
  height: 80px;
  width: 30px;/*30px;*/
  place-self: center;
  cursor: auto !important;
}
.s input[type="range"] {
  -webkit-appearance: slider-vertical;
  padding: 0px;
  height: 80px;
  width: 100%;/*30px;*/
  background: transparent;
  border: none;
  outline: none;
  margin: 0px;
}
.s input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.s input[type="range"]::-webkit-slider-thumb, .s input[type="range"]::-moz-range-thumb {
  cursor: ns-resize;
  height: 0px;
  width: calc(100% - 9px);
  background-color: transparent;
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: #ffffff;
  border-left-color: #ffffff;

}
#rgbAdd, #hslAdd {
  margin: 0px !important;
}