:root {
  --ss: 20px;
}
body {
  overflow-x: hidden;
}
#content {
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3in 1fr;
  grid-template-areas: "menu canvas";
}
#canvas, #bg {
  grid-area: canvas;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#canvas, #hoverShade {
  cursor: none;
}
#menu {
  grid-area: menu;
  background-color: #111111;
  padding: 20px;
}
#menu * {
  display: inline-block;
}
.menu, .button {
  border-radius: 10px;
  background-color: #333333;
  padding: 10px;
  margin: 5px;
}
.menu *, .button {
  cursor: pointer;
}
[data-color] {
  width: 20px;
  height: 20px;
  border-width: 0px;
  border-style: solid;
  margin: 0px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
[data-color].active, [data-color]:hover {
  width: 17px;
  height: 17px;
  border-width: 2px;
}
#hoverShade {
  position: fixed;
  width: var(--ss);
  height: var(--ss);
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
  display: none;
}
#menu input {
  width: calc(100% - 50px);
}