<!DOCTYPE html>
<html>
<head>
  <%- include("../head", {beta: false, modal: false})%>
  <title>Hexagons</title>
  <script src="/js/hexagon.js" defer></script>
</head>
<body>
  <%- include("../header", {title: "Hexagons", choice: true}) %>
  <div id="content">
    <canvas id="canvas"></canvas>
  </div>
</body>
</html>