<div id="counters">
  <div id="days">
    <span class="number"></span>
    <span class="label"></span>
  </div>
  <div id="hours">
    <span class="number"></span>
    <span class="label"></span>
  </div>
  <div id="minutes">
    <span class="number"></span>
    <span class="label"></span>
  </div>
  <div id="seconds">
    <span class="number"></span>
    <span class="label"></span>
  </div>
  <br>
  <div id="until">until</div>
  <div id="event_name"><%= name %></div>
</div>
<div id="done">
  <%= message %>
</div>
<input id="event_time" type="hidden" value="<%= timing %>">