img/switch2.svg
img/switch.svg
MontyHallProblem.js
/svg
/node_modules
js/randomKey.js
views/sentEmail.html
RandomNotes.txt
RandomNotes
fonts/Anurati-Coustom.ttf.birdfont
fonts/Anurati-Regular.otf
fonts/Anurati-Coustom-Mac.ttf
fonts/anurati_font/__MACOSX/._anurati_font
fonts/anurati_font/__MACOSX/anurati_font/._.DS_Store
fonts/anurati_font/__MACOSX/anurati_font/._Personal_use_only_read_this.rtf
fonts/anurati_font/__MACOSX/anurati_font/._Anurati-Regular.otf
fonts/anurati_font/anurati_font/Personal_use_only_read_this.rtf
fonts/debug.log
fonts/anurati_font/anurati_font/.DS_Store
fonts/fonty.TXT
fonts/fonty.TXT
fonts/SIMPLIFICA.zip
/.vscode
css/countdown.css.map
*.scss
countdownTimingSpec
countdownTimingSpec.txt
servers/countdowns.sql
img/Countdowns/
servers/flowchart.png
