<!DOCTYPE html>
<html>
<head>
  <%- include("../head", {beta: false, modal: false})%>
  <title>Forbidden <%= game.titleCase() %></title>
</head>
<body>
  <%- include("../header", {title: "", choice: true}) %>
  <main>

  </main>
</body>
</html>