<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.65">
  <link rel="icon" href="/img/favicon/main/favicon.ico">
	<link rel="icon" href="/img/favicon/main/favicon_32.png">
	<link rel="icon" href="/img/favicon/main/favicon_48.png">
	<link rel="icon" href="/img/favicon/main/favicon_96.png">
	<link rel="icon" href="/img/favicon/main/favicon_144.png">
	<link rel="icon" href="/img/favicon/main/favicon_vector.svg">
  <!--DO NOT USE INCLUDE HEAD, IT WILL MESS UP THE PAGE'S CSS-->
  <title>404</title>
	<!--<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">-->
	<link href="/css/blueScreenOfDeath.css" rel="stylesheet">
	<!--<script src="/lib/Lupin/Lupin.js"></script>-->
	<script src="/js/strToBool.js"></script>
	<script src="/js/inputHandler.js"></script>
	<!--<script src="/404/js/slash.js"></script>
	<script src="/404/js/hash.js"></script>
	<script src="/404/js/TBGame.js"></script>-->

</head>
<body>
<p id="pageText">
> Welcome<br>
> I am a 404 page<br>
> You tried to go to <%=target %><br>
> That page doesn't exist, so you shouldn't try to go to it<br>
> Instead, you should try going to some pages that do exist<br>
> They are much more interesting<br>
> You can find links to all those on the <a href="/">home page</a><br>
</p>
<input type="text" id="textbox" value="" autofocus >
	<script>
		//runs inputHanlder() when enter key pressed
		document.getElementById("textbox").addEventListener("keyup",  (event) => {
			if (event.keyCode === 13) {
				document.getElementById("pageText").innerHTML += `> ${document.getElementById("textbox").value}<br>`;
				/*try {
					document.getElementById("pageText").innerHTML += `< ${eval(document.getElementById("textbox").value.toString())}<br>`
				}
				catch (err) {
					document.getElementById("pageText").innerHTML += `< ${err}<br>`
				}*/
				document.getElementById("textbox").value = "";
			}
		});
	</script>
</body>
<html>