<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
	<title>About Me</title>
  <!--<script src="/js/fullScreenContent.js"></script>-->
</head>
<body>
	<%- include("header", {title: "About Me", choice: true}) %>
  <main>
    <%- include("about.html") %>
  </main>
</body>
</html>