<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
	<title>Gradient Color</title>
	<link rel="stylesheet" href="/css/gradientChange.css">
	<script src="/js/hideMenu.js"></script>
</head>
<body>
	<%- include("header", {title: "Gradient Color", choice: true}) %>
</body>
</html>