<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Shapes</title>
  <link rel="stylesheet" href="/css/hexTest.css">
  <script src="/js/color.js"></script>
  <script src="/js/hexTest.js" defer type="module"></script>
</head>
<body>
  <%- include("header", {title: "Shapes", choice: true}) %>
  <div id="content">
    <canvas id="canvas" width="300" height="300">This program is not supported by your browser</canvas>
    <div id="menu">
      <div id="menuTabs">
        <div id="newShape" class="menuTab">&plus;</div>
        <div id="line"></div>
      </div>
      <div id="mainMenu">
        x: <input id="x" type="text" pattern="\d*" class="descrete"><br>
        y: <input id="y" type="text" pattern="\d*" class="descrete"><br>
        <!--width: <input id="width" type="range" min="0" max="300"><br>-->
        <div id="bottom">
          <input type="button" id="delete" value="Discard Shape">
        </div>
      </div>
      <div id="color">
        Color:
        <div id="colorHSL">
          <div id="h" class="hslGrid">
            <input id="ht" class="descrete t" value="360"
              pattern="^(?:36[0]|3[0-5][0-9]|[12][0-9][0-9]|[1-9]?[0-9])?$">
            <div id="h-key" class="s">
              <input id="hs" type="range" orient="vertical" value="0" min="0" max="360">
            </div>
          </div>
          <div id="s" class="hslGrid">
            <input id="st" class="descrete t" value="100" pattern="^[0-9][0-9]?$|^100$">
            <div id="s-key" class="s">
              <input id="ss" type="range" orient="vertical" value="100" min="0" max="100">
            </div>
          </div>
          <div id="l" class="hslGrid">
            <input id="lt" class="descrete t" value="50" pattern="^[0-9][0-9]?$|^100$">
            <div id="l-key" class="s">
              <input id="ls" type="range" orient="vertical" value="50" min="0" max="100">
            </div>
          </div>
        </div>
        <div id="colorHash">
          <input id="hexColor" value="ff0000" type="text" pattern="[\da-f]{0,6}">
        </div>
      </div>
      <div id="spinMenu">
        More features coming soon!!!
      </div>
    </div>
  </div>
  <modal id="shapeCreationMenu" data-escape="okCancel" data-confirm="window.newShape(parseInt(document.getElementById('sidesInput').value))">
    Sides: <input type="number" id="sidesInput" min="3" step="1" value="4" required>
  </modal>
</body>
</html>