<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Shapes</title>
  <link rel="stylesheet" href="/css/hexTest.css">
  <script src="/js/color.js"></script>
  <script src="/js/hexTest.js" defer type="module"></script>
</head>
<body>
  <%- include("header", {title: "Shapes", choice: true}) %>
  <main>
    <canvas id="canvas" width="300" height="300">This program is not supported by your browser</canvas>
    <div id="menu">
      <div id="tabScrollHide">
        <div id="menuTabs">
          <div id="newShape" class="menuTab">&plus;</div>
          <div id="line"></div>
        </div>
      </div>
      <div id="mainMenu">
        <div id="mainMenuOptions">
          Position:
          <div class="indent">
            <div class="property">x: <input id="x" type="number" step required class="descrete"></div>
            <div class="property">y: <input id="y" type="number" required class="descrete"></div>
          </div>
          <div class="property">Width: <input id="widthT" type="number" required class="descrete" min="0" max="300"></div>
          <div class="indent">
            <input id="widthS" type="range" min="0" max="300">
          </div>
          <div id="rotations">
            Rotations:
            <div class="indent">
              <div class="property">
                x: 
                <input id="x-axis-rotation" type="number" step="1" class="descrete text" required min="0" max="360">
                <div class="radio"><input id="x-deg-radio" type="radio" name="x-axis-rotation-unit" value="deg"><label for="x-deg-radio">Degrees</label></div>
                <div class="radio"><input id="x-rad-radio" type="radio" name="x-axis-rotation-unit" value="rad"><label for="x-rad-radio">Radians</label></div>
              </div>
              <input id="x-axis-rotation-slider" class="indent" type="range" step="1" min="0" max="360">
              <div class="property">
                y:
                <input id="y-axis-rotation" type="number" step="1" class="descrete text" required min="0" max="360">
                <div class="radio"><input id="y-deg-radio" type="radio" name="y-axis-rotation-unit" value="deg"><label for="y-deg-radio">Degrees</label></div>
                <div class="radio"><input id="y-rad-radio" type="radio" name="y-axis-rotation-unit" value="rad"><label for="y-rad-radio">Radians</label></div>
              </div>
              <input id="y-axis-rotation-slider" class="indent" type="range" step="1" min="0" max="360">
              <div class="property">
                z:
                <input id="z-axis-rotation" type="number" step="1" class="descrete text" required min="0" max="360">
                <div class="radio"><input id="z-deg-radio" type="radio" name="z-axis-rotation-unit" value="deg"><label for="z-deg-radio">Degrees</label></div>
                <div class="radio"><input id="z-rad-radio" type="radio" name="z-axis-rotation-unit" value="rad"><label for="z-rad-radio">Radians</label></div>
              </div>
              <input id="z-axis-rotation-slider" class="indent" type="range" step="1" min="0" max="360">
            </div>
          </div>
        </div>
        <div id="bottom">
          <input type="button" id="delete" class="no" value="Discard">
          <input type="button" id="visibilityToggle" value="Hide">
        </div>
      </div>
      <div class="seperator"></div>
      <div id="colorMenu">
        Color:
        <div id="colorHSL">
          <div id="h" class="hslGrid">
            <input id="ht" type="number" required  class="descrete t" value="360"
              pattern="^(?:36[0]|3[0-5][0-9]|[12][0-9][0-9]|[1-9]?[0-9])?$">
            <div id="h-key" class="s">
              <input id="hs" type="range" value="0" min="0" max="360">
            </div>
          </div>
          <div id="s" class="hslGrid">
            <input id="st" type="number" required  class="descrete t" value="100" pattern="^[0-9][0-9]?$|^100$">
            <div id="s-key" class="s">
              <input id="ss" type="range" value="100" min="0" max="100">
            </div>
          </div>
          <div id="l" class="hslGrid">
            <input id="lt" type="number" required  class="descrete t" value="50" pattern="^[0-9][0-9]?$|^100$">
            <div id="l-key" class="s">
              <input id="ls" type="range" value="50" min="0" max="100">
            </div>
          </div>
        </div>
        <div id="colorHash">
          <input id="hexColor" value="ff0000" type="text" pattern="[\da-f]{0,6}">
        </div>
      </div>
      <div class="seperator"></div>
      <div id="spinMenu">
        <div id="spinMenuNoButton">
          Spin:<br>
          <div class="indent">
            <div>
              Axis:
              <select id="spin-axis">
                <option>x</option>
                <option>y</option>
                <option>z</option>
              </select>
            </div>
            <div class="property">
              Speed (rotations/minute): <input id="rpm" type="number" class="descrete">
            </div>
          </div>
          <br>
        </div>
        <input type="button" id="spin" class="yes" value="GO!">
      </div>
    </div>
  </main>
  <modal id="shapeCreationMenu" data-escape="okCancel" data-confirm="window.newShape(parseInt(document.getElementById('sidesInput').value))">
    Sides: <input type="number" id="sidesInput" min="3" step="1" value="4" required>
  </modal>
</body>
</html>