<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
	<title>Liam Bloom</title>
  <link id="css" rel="stylesheet" href="/css/homepage.css">
</head>
<body>
	<%- include("header", {title: "Liam Bloom", choice: true}) %>
  <canvas id="main"></canvas>
  <main>
    <h2 id="welcome">
      <span>W</span>
      <span>E</span>
      <span>L</span>
      <span>C</span>
      <span>O</span>
      <span>M</span>
      <span>E</span>
      <div id="logo">
        <%- include("../img/favicon/main/favicon_vector.svg") %>
      </div>
    </h2>
    <!--<div id="myBio">
      <%- include("about.html") %>
    </div>-->
  </main>
  <script src="/js/homepage.js" type="module"></script>
</body>
</html>