<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
	<title>Liam Bloom</title>
</head>
<body>
	<%- include("header", {title: "Liam Bloom", choice: true}) %>
	<div id="content" class="center">
		Hi! This is my homepage. I don't know what to put here. If you have any sugestions, you can send them to me <a href="/sugestions">here</a>.
	</div>
</body>
</html>