<style>
  .loading {
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    background-color: #0000007f;
    display: inline-block;
    position: relative;
    margin: 1.5625em 0px;
  }
  .loading.active {
    animation: bounce 1.5s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {bottom: 0px;}
    20% {bottom: 1.5625em;}
    40% {bottom: 0px;}
    100% {bottom: 0px;}
  }
</style>
<span id="loading1" class="loading"></span>
<span id="loading2" class="loading"></span>
<span id="loading3" class="loading"></span>
<span id="loading4" class="loading"></span>
<span id="loading5" class="loading"></span>
<script>
  window.activateLoading = () => {
    document.getElementById("loading1").classList.add("active")
    setTimeout(() => {
      document.getElementById("loading2").classList.add("active")
    }, 125);
    setTimeout(() => {
      document.getElementById("loading3").classList.add("active")
    }, 250);
    setTimeout(() => {
      document.getElementById("loading4").classList.add("active")
    }, 375);
    setTimeout(() => {
      document.getElementById("loading5").classList.add("active")
    }, 500);
    }
  window.deactivateLoading = () => {
    forLoadingIcons(e => {
      e.classList.remove("active")
    })
  }
  window.forLoadingIcons = func => {
    for (let e of document.getElementsByClassName("loading")) {
      func(e);
    }
  }
</script>