<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: true})%>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/login.js"></script>
</head>
<body>
  <%- include("header", {title: "Login", choice: true}) %>
  <div id="content" class="center">
    <div id="box">
      <div id="usernameContainer">
        <input id="username" type="text" placeholder="Username" pattern="[A-Za-z0-9_\-.]+">
      </div>
      <div id="passwordContainer">
        <input id="password" type="password" placeholder="Password"><br>
      </div>
      <input id="button" type="button" value="Log in">
    </div>
  </div>
</body>
</html>