<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: true})%>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/login.js"></script>
</head>
<body>
  <%- include("header", {title: "Login", choice: true}) %>
  <div id="content" class="center">
    <form id="box">
      <div id="usernameContainer">
        <input id="username" type="text" placeholder="Username">
      </div>
      <div id="passwordContainer">
        <input id="password" type="password" placeholder="Password"><!--pattern="(?=[A-Za-z0-9!@#$%^&*()\-+`~\\|\[\]{};:'\u0022,.\/?_=]{6,}$)(?!.*password)(?!.*Password)(?!.*(.)\1{2,}).*"-->
        <div for="password" id="showPassContainer">
          <div id="showPass">
            <%- include("../img/eye.svg") %>
          </div>
        </div>
      </div>
      <input id="button" type="submit" value="Log in">
    </form>
  </div>
</body>
</html>