<!DOCTYPE html>
<html>
<head>
	<%- include("head", {beta: false})%>
	<title>Magic 8 Ball</title>
	<script src="/js/magic8.js"></script>
	<script src="/js/onenter.js"></script>
</head>
<body>
	<%- include("header", {title: "Magic 8 Ball"}) %>
	<div id="content" class="center">
	<h2>
		Enter a yes or no question, and your answer will magically appear.
	</h2>
	<p>
		Question:
		<br>
		<input type="text" id="question">
		<br>
		<input type="button" onclick="if (/[^\s]/.test(document.getElementById('question').value)) decisionMaker()" value="Submit">
		<br>
		<br>
		Answer: <div id = "Answer"></div>
	</p>
	</div>
</body>
</html>