<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
	<title>Magic 8 Ball</title>
	<script src="/js/magic8.js"></script>
	<script src="/js/onenter.js"></script>
</head>
<body>
	<%- include("header", {title: "Magic 8 Ball", choice: true}) %>
	<div id="content" class="center">
	<h2>
		Enter a yes or no question, and your answer will magically appear.
	</h2>
	<p>
		<input type="text" id="question" placeholder="Question">
		<br>
		<input type="button" onclick="decisionMaker()" value="Submit">
		<br>
		<br>
		<div id="Answer"></div>
	</p>
	</div>
</body>
</html>