<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: true, modal: true})%>
  <title>Paint</title>
  <link rel="stylesheet" href="/css/paint.css">
  <script src="/js/paint.js"></script>
  <script src="/js/destroy.js"></script>
  <script src="/js/fullScreenContent.js"></script>
  <script src="/js/color.js"></script>
</head>
<body>
  <%- include("header", {title: "Pixel Editor", choice: true}) %>
  <div id="content">
    <div id="menu">
      <div id="colors" class="menu">
        <div data-color="#ff0000"></div>
        <div data-color="#ff8000"></div>
        <div data-color="#ffff00"></div>
        <div data-color="#00ff00"></div>
        <div data-color="#00ffff"></div>
        <div data-color="#0088ff"></div>
        <div data-color="#0000ff"></div>
        <div data-color="#8000ff"></div>
        <div data-color="#ff00ff"></div>
        <div data-color="#ffffff"></div>
        <div data-color="#808080"></div>
        <div data-color="#000000"></div>
      </div>
      <div class="menu">
        <div id="colorMethodContainer">
          New Color: <select id="colorMethod">
            <option>HEX</option>
            <option selected>RGB</option>
            <option>OS</option>
            <!--
              <option>HSL</option>
              <option>HSB</option> // HSB is same as HSV
            -->
          </select>
        </div>
        <br>
        <div id="pickers">
          <div id="hex" class="container">
            <div id="colorHash">
              <input id="color" class="" type="text" pattern="[a-f\d]{6}">
            </div>
          </div>
          <div id="rgb" class="container">
            <div id="rgbFlex">
              <div id="r" class="rgbGrid">
                <input id="rt" class="descrete t override" value="255" pattern="^(1?[0-9]{1,2}|2[0-4][0-9]|25[0-5])$">
                <div id="r-key" class="s">
                  <input id="rs" type="range" orient="vertical" class="override" value="255" min="0" max="255">
                </div>
              </div>
              <div id="g" class="rgbGrid">
                <input id="gt" class="descrete t override" value="0" pattern="^(1?[0-9]{1,2}|2[0-4][0-9]|25[0-5])$">
                <div id="g-key" class="s">
                  <input id="gs" type="range" orient="vertical" class="override" value="0" min="0" max="255">
                </div>
              </div>
              <div id="b" class="rgbGrid">
                <input id="bt" class="descrete t override" value="0" pattern="^(1?[0-9]{1,2}|2[0-4][0-9]|25[0-5])$">
                <div id="b-key" class="s">
                  <input id="bs" type="range" orient="vertical" class="override" value="0" min="0" max="255">
                </div>
              </div>
              <input id="rgbAdd" type="button" class="descrete" value="&plus;">
              <input id="storeRgbAdd" type="hidden">
            </div>
          </div>
          <div id="os" class="container">
            <div id="osErr">
              <input id="osColorPick" class="override" type="color" value="#ff0000">
            </div>
          </div>
        </div>
      </div>
      <div id="erase" class="button">Eraser</div>
      <div id="fill" class="button">Fill</div>
      <div id="clear" class="button">Clear All</div>
      <div clas="menu">
        <!--Import:
        <input type="file" id="import" accept="image/png">-->
        <a id="download" class="button" download="drawing.png">Download</a>
      </div>
    </div>
    <div id="hoverShade"></div>
    <canvas id="bg"></canvas>
    <canvas id="canvas"></canvas>
  </div>
  <modal id="clearConfirm" data-escape="yn" data-confirm="document.getElementById('canvas').dispatchEvent(new Event('clear'))">
    Are you sure you want to clear this and star over?
  </modal>
  <modal id="initial" data-escape="ok" data-confirm="init()" data-size="large">
    Width: <input id="width" type="number" value="30" required><br>
    Height: <input id="height" type="number" value="20" required> 
  </modal>
</body>
</html>