<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: true, modal: true})%>
  <title>Paint</title>
  <link rel="stylesheet" href="/css/paint.css">
  <script src="/js/paint.js"></script>
  <script src="/js/destroy.js"></script>
  <script src="/js/fullScreenContent.js"></script>
</head>
<body>
  <%- include("header", {title: "Pixel Editor", choice: true}) %>
  <div id="content">
    
  </div>
</body>
</html>