<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: true, modal: true})%>
  <title>Paint</title>
  <link rel="stylesheet" href="/css/paint.css">
  <script src="/js/paint.js"></script>
  <script src="/js/destroy.js"></script>
  <script src="/js/fullScreenContent.js"></script>
  <script src="/js/color.js"></script>
</head>
<body>
  <%- include("header", {title: "Pixel Editor", choice: true}) %>
  <div id="content">
    <div id="menu">
      <div id="colors" class="menu">
        <div data-color="#ff0000"></div>
        <div data-color="#ff8000"></div>
        <div data-color="#ffff00"></div>
        <div data-color="#00ff00"></div>
        <div data-color="#00ffff"></div>
        <div data-color="#0088ff"></div>
        <div data-color="#0000ff"></div>
        <div data-color="#8000ff"></div>
        <div data-color="#ff00ff"></div>
        <div data-color="#ffffff"></div>
        <div data-color="#808080"></div>
        <div data-color="#000000"></div>
      </div>
      New Color:
      <div id="colorHash">
        <input id="color" class="menu" type="text" pattern="[a-f\d]{6}">
      </div>
      <div id="erase" class="button">Eraser</div>
      <div id="fill" class="button">Fill</div>
      <div id="clear" class="button">Clear All</div>
      <div clas="menu">
        <!--Import:
        <input type="file" id="import" accept="image/png">-->
        <a id="download" class="button" download="drawing.png">Download</a>
      </div>
    </div>
    <div id="hoverShade"></div>
    <canvas id="bg"></canvas>
    <canvas id="canvas"></canvas>
  </div>
  <modal id="clearConfirm" data-escape="yn" data-confirm="document.getElementById('canvas').dispatchEvent(new Event('clear'))">
    Are you sure you want to clear this and star over?
  </modal>
  <modal id="initial" data-escape="ok" data-confirm="init()" data-size="large">
    Width: <input id="width" type="number" value="30" required><br>
    Height: <input id="height" type="number" value="20" required> 
  </modal>
</body>
</html>