<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: false})%>
  <title>Pong</title>
  <link href="/css/pong.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  <script src="/js/fullScreenContent.js" type="application/javascript"></script>
  <script src="/js/pong.js" type="application/javascript" defer></script>
</head>
<body>
	<%- include("header", {title: "Pong", choice: true}) %>
  <main>
    <canvas></canvas>
    <div style="font-family:'Roboto mono'; display: none;">Foo</div>
  </main>
</body>
</html>