<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Privacy Policy</title>
</head>
<body>
  <%- include("header", {title: "Privacy Policy", choice: true}) %>
  <main>
    I will not share your data with anyone. If I change this privacy policy I will email you (if you provide your emial).
  </main>
</body>
</html>