<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Privacy Policy</title>
</head>
<body>
  <%- include("header", {title: "Privacy Policy", choice: true}) %>
  <div id="content">
    I will not share your data with anyone. That's it. No need to read through pages and pages of boring legal nonsense, there's just three sentences. : )
  </div>
</body>
</html>