<!DOCTYPE html>
<html lang="en">
<head>
	<title>Random Color</title>
	<%- include("head", {beta: false, modal: false})%>
	<link rel="stylesheet" href="/css/buttonAlt.css">
  <script src="/js/color.js"></script>
	<script src="/js/randomColor.js"></script>
</head>
<body>
	<%- include("header", {title: "Random Color", choice: false}) %>
	<main class="center">
		<button onclick="change()" name="ReloadButton">Click Me!</button>
	</main>
</body>
</html>