<!DOCTYPE html>
<html>
<head>
	<title>Random Color</title>
	<%- include("head", {beta: false})%>
	<link rel="stylesheet" href="/css/buttonAlt.css">
	<script src="/js/randomColor.js"></script>
</head>
<body>
	<%- include("header", {title: "Random Color", choice: false}) %>
	<div id="content" class="center">
		<button onclick="change()" name="ReloadButton">Click Me!</button>
	</div>
</body>
</html>