<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Loading...</title>
</head>
<body>
  <%- include("header", {title: "Loading...", choice: true}) %>
  <main class="center">
    <%- include("loading.html") %>
  </main>
  <script>
    loadingAnimation();
  </script>
</body>
</html>