<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: true})%>
  <title>Signup</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/loginInit.js"></script>
  <script src="/js/signup.js"></script>
</head>
<body>
  <%- include("header", {title: "Sign Up", choice: true}) %>
  <main class="center">
    <form id="box">
      <div id="usernameContainer">
        <input id="username" type="text" placeholder="Username">
      </div>
      <div id="emailContainer">
        <input id="email" type="emial" placeholder="Email (optional)">
      </div>
      <div id="passwordContainer">
        <input id="password" type="password" placeholder="Password">
        <div id="showPassContainer">
          <div id="showPass">
            <%- include("../img/eye.svg") %>
          </div>
        </div>
      </div>
      <div id="passwordConfirmContainer">
        <input id="confirmPassword" type="password" placeholder="Confirm Password">
      </div>
      <input type="checkbox" required> I agree to the <a href="/cookiePolicy">Cookie Policy</a> and <a href="/privacyPolicy">Privacy Policy</a>
      <div id="buttonContainer">
        <input id="button" type="submit" value="Sign Up!">
      </div>
    </form>
  </main>
  <modal id="emailWarning" data-escape="yn" data-confirm="document.getElementById('emailWarning').dispatchEvent(new Event('closed'));">
    Without providing an email, there is no way to reset your password if you forget it. Are you sure you want to sign up without providing an email?
  </modal>
</body>
</html>