<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: true})%>
	<title>Sugestions</title>
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
	<div id="content" class="center">
    <div id="main">
      <textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
      <br>
      <input type="button" value="Submit" onclick="post('#sugestion', 'sugestion')">
    </div>
    <%- include("loading.html") %>
	</div>
</html>