<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: true})%>
	<title>Sugestions</title>
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
	<div id="content" class="center">
		<p>ATENTION! THIS PAGE DOES NOT WORK YET. THE ONLY SUGESTIONS I GET ARE "undefined", WHICH IS NOT USEFUL. DO NOT WASTE YOU TIME WRITING A SUGESTION THAT I WILL NEVER SEE.</p>
		<textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
		<br>
		<input type="button" value="Submit" onclick="post('#sugestion')">
	</div>
</html>