<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: true})%>
	<title>Sugestions</title>
  <link rel="stylesheet" href="/css/sugestion.css">
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
  <modal id="confirm" data-escape="yn" data-confirm="post('#sugestion', 'sugestion');">
    Are you sure you want to submit this?
  </modal>
  <div id="content" class="center">
    <div id="main">
      <textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
      <br>
      <div id="tags" class="flex">
        <div class="tag blue button-3d">
          <span>
            <div class="circle high"><span>&ldquo;&rdquo;</span></div>
            Sugestion
          </span>
        </div>
        <div class="tag red button-3d">
          <span>
            <div class="circle middle"><span>!</span></div>
            Issue
          </span>
        </div>
        <div class="tag purple  button-3d">
          <span>
            <div class="circle middle"><span>?</span></div>
            Question
          </span>
        </div>
        <div class="tag green  button-3d">
          <span>
            <div class="circle low"><span>&hellip;</span></div>
            Other
          </span>
        </div>
      </div>
      <input type="button" value="Submit" onclick="window.modal.open('#confirm')">
    </div>
    <div id="loadingContainer" style="display: none;">
      <%- include("loading.html") %>
    </div>
  </div>
</html>