<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: true})%>
	<title>Sugestions</title>
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
	<div id="confirm" class="center hidden modal">
    <div class="modal-box small">
      <div class="modal-container-outer">
        <div class="modal-container-inner">
          <div class="modal-content">
            Are you sure you want to submit this?
          </div>
          <div class="modal-bottom">
            <input type="button" value="No!" class="no" onclick="window.modal.close();">
            <input type="button" value="Yes!" class="yes" onclick="window.modal.close(); post('#sugestion', 'sugestion');">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-overlay" onclick="window.modal.close()"></div>
  </div>
  <div id="content" class="center">
    <div id="main">
      <textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
      <br>
      <input type="button" value="Submit" onclick="window.modal.open('#confirm')">
    </div>
    <div id="loadingContainer" style="display: none;">
      <%- include("loading.html") %>
    </div>
  </div>
</html>