<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: true})%>
	<title>Sugestions</title>
  <link rel="stylesheet" href="/css/sugestion.css">
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
  <modal id="confirm" data-escape="yn" data-confirm="post();">
    Are you sure you want to submit this?
  </modal>
  <main class="center">
    <div id="main">
      <textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
      <div id="tags" class="flex pick1">
        <div id="sugestion" class="tag blue button-3d">
          <span>
            <div class="circle high"><span>&ldquo;&rdquo;</span></div>
            Sugestion
          </span>
        </div>
        <div id="issue" class="tag red button-3d">
          <span>
            <div class="circle middle"><span>!</span></div>
            Issue
          </span>
        </div>
        <div id="question" class="tag purple button-3d">
          <span>
            <div class="circle middle"><span>?</span></div>
            Question
          </span>
        </div>
        <div id="other" class="tag green button-3d">
          <span>
            <div class="circle low"><span>&hellip;</span></div>
            Other
          </span>
        </div>
      </div>
      <div>
        <input id="submit" type="button" value="Submit">
      </div>
    </div>
  </main>
</html>