<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("head", {beta: false, modal: true})%>
	<title>Sugestions</title>
	<script src="/js/post.js"></script>
</head>
	<%- include("header", {title: "Suggestions", choice: true}) %>
  <modal id="confirm" data-escape="yn" data-confirm="post('#sugestion', 'sugestion');">
    Are you sure you want to submit this?
  </modal>
  <div id="content" class="center">
    <div id="main">
      <textarea id="sugestion" class="wide" rows="10" placeholder="Type your sugestions here"></textarea>
      <br>
      <input type="button" value="Submit" onclick="window.modal.open('#confirm')">
    </div>
    <div id="loadingContainer" style="display: none;">
      <%- include("loading.html") %>
    </div>
  </div>
</html>