<!DOCTYPE html>
<html>
<head>
  <%- include("head", {beta: false, modal: false})%>
  <title>Update Account</title>
</head>
<body>
  <%- include("header", {title: "Update Account", choice: true}) %>
  <div id="content">
  </div>
</body>
</html>