<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.65">
  <link rel="icon" href="/img/favicon/main/favicon.ico">
  <link rel="icon" href="/img/favicon/main/favicon_32.png">
  <link rel="icon" href="/img/favicon/main/favicon_48.png">
  <link rel="icon" href="/img/favicon/main/favicon_96.png">
  <link rel="icon" href="/img/favicon/main/favicon_144.png">
  <link rel="icon" href="/img/favicon/main/favicon_vector.svg">
  <link rel="stylesheet" href="/css/forbiddenPermision.css">
  <script src="/js/forbidden/permission.js" defer></script>
</head>
<body>
  <div id="instructions">
    Since I unfortunately don&rsquo;t own the rights to the game Forbidden Island&trade;, I can&rsquo;t just make it publicly available. Please enter a valid key or <a href="/login?u=<%= here %>">log in</a> with an account that has access.
  </div>
  <main>
    <% for (let i = 0; i < 8; i++) { %>
      <span class="character">#</span>
    <% } %>
    <span class="dash">-</span>
    <% for (let i = 0; i < 3; i++) { %>
      <% for (let j = 0; j < 4; j++) { %>
        <span class="character">#</span>
      <% } %>
      <span class="dash">-</span>
    <% } %>
    <% for (let i = 0; i < 12; i++) { %>
      <span class="character">#</span>
    <% } %>
  </main>
  <div id="alternate">If this doesn&rsquo;t work for you, click <a href="javascript:verify(prompt('Please enter your key here'))">here</a></div>
  <div id="error">Error2</div>
  <div id="cursor"></div>
</body>
</html>