<!DOCTYPE html>
<html>
<head>
  <%- include("../head", {beta: false, modal: false}) %>
  <title>New Countdown</title>
  <link href="/css/countdown.css" rel="stylesheet">
</head>
<body>
  <%- include("../header", {title: "Countdown List", choice: true}) %>
  <div id="list">
    <script src="/js/countdownV4/load/list.js"></script>
  </div>
</body>
</html>