<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../head", {beta: false, modal: false}) %>
  <title>New Countdown</title>
  <link href="/css/countdown.css" rel="stylesheet">
</head>
<body>
  <%- include("../header", {title: "Countdown List", choice: true}) %>
  <div id="list">
    <div id="listMenu">
      <div id="listTabs">
        <input type="button" id="preset" value="Preset Countdowns">
        <input type="button" id="coustom" value="Coustom Countdowns">
      </div>
      <div id="listLayout">
        <button id="grid" class="layoutOption"><img src="/img/grid.svg"></button>
        <button id="rows" class="layoutOption"><img src="/img/list.svg"></button>
      </div>
    </div>
    <div id="presets-list">
      <table>
        <tr>
          <th>Event Name</th>
          <th>Next Occurance</th>
          <th>Time Left</th>
        </tr>
        <!--I the future, these rows will be created using ejs the same as the coustom countdowns. Until I set up server side code for this however, they will
        remain manually typed-->
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </table>
    </div>
  </div>
</body>
</html>