<!DOCTYPE html>
<html>
<head>
	<%- include("../head", {beta: false}) %>
	<title>School Homepage</title>
</head>
<body>
	<%- include("../header", {title: "School", choice: true}) %>
	<div id="content" class="center">
		<p>
			<a href='./SocialStudiesProject'>Ancient Egyptian Social Class Project</a>
			<br><br>
			<a href='./ScienceVocab'>Science Vocab</a>
			<br><br>
			<a href='./ELAgreekMythologyScript'>Greek Mythology Play Script</a>
			<br><br>
			<a href='https://scratch.mit.edu/projects/221553121/'>Prometheus Cartoon</a>
			<br><br>
		</p>
	</div>
</body>
</html>