<!DOCTYPE html>
<html>
<head>
  <%- include("../../head", {beta: true, modal: false}) %>
  <title></title>
  <link href="/css/countdown_beta.css" rel="stylesheet">
</head>
<body>
  <%- include("../../header", {title: "", choice: true}) %>
  <div id="countdown">
    <script src="/js/countdownV4/load.js"></script>
    <script defer>
      load(window.location.pathname.split("/").last());
    </script>
  </div>
</body>
</html>