<!DOCTYPE html>
<html>
<head>
  <%- include("../../head", {beta: true, modal: false}) %>
  <title>New Countdown</title>
  <link href="/css/customCountdown.css" rel="stylesheet">
  <script src="/js/countdownV4/custom.js" defer></script>
</head>
<body>
  <%- include("../../header", {title: "Countdown List Beta", choice: true}) %>
  <main>
    <form id="form">
      Time: <div id="time" class="inline time"></div><br>
      Icon: <label id="icon-container" class="file-container" for="icon">No File Selected <img class="preview"></label><input type="file" id="icon" accept="image/*"><br>
      Event Name: <input id="eventName" type="text" placeholder="My Event"><br>
      Message for when countdown is done: <input id="message" type="text" placeholder="Hooray!"><br>
      <div id="repeat">
        Repitition:<br>
        <input type="radio" id="singleOccurrence" name="timing" checked>
          <label for="singleOccurrence">
            <div class="inline fullDate"></div>
          </label><br>
        <input type="radio" id="yearlyRepitition" name="timing">
          <label for="yearlyRepitition">
            <div class="inline date"></div> every year
          </label><br>
        <input type="radio" id="nthOfMonth" name="timing">
          <label for="nthOfMonth">
            <select id="nth">
              <option>1st</option>
              <option>2nd</option>
              <option>3rd</option>
              <option>4th</option>
              <option>last</option>
            </select>
            <select id="dayOfWeek">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
            </select>
            of
            <select id="month">
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </label>
      </div>
      <br>
      <input id="submit" type="submit" value="Submit">
    </form>
  </main>
</body>
</html>