<!DOCTYPE html>
<html>
<head>
  <%- include("../../head", {beta: true, modal: false}) %>
  <title>New Countdown</title>
  <link href="/css/countdown_beta.css" rel="stylesheet">
</head>
<body>
  <%- include("../../header", {title: "Countdown List Beta", choice: true}) %>
  <div id="list">
    <script src="/js/countdownV4/load.js"></script>
    <script defer>
      load("list");
    </script>
  </div>
</body>
</html>